/* css reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*:before,
*:after {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
/* iconfont */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/*style */
body {
  /*虽然body的区域只有内容区域，边框会显示，但是如果给body加背景色，浏览器会智能的加到整个网页*/
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: url(../images/sky.png) no-repeat center;
}
.globalHeader {
  margin: 20px; /*居中*/
}
@media (min-width: 500px) {
  .globalHeader {
    margin: 60px;
  }
}
.searchForm {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 500px) {
  /*500宽度以下我不管*/
  .searchForm {
    max-width: 400px;
    /* 当这个元素有宽度或者最大宽度，就可以用margin来做居中固定 */
    margin-left: auto;
    margin-right: auto;
  }
}
.searchForm > input {
  width: 100%; /*导致搜索框挤在一起了，只要设置不换行即可*/
  margin-right: 20px;
  height: 40px; /*搜索框自动一样高度*/
  padding: 0 10px;
  border: none; /*input自带border*/
  border-radius: 4px;
}
.searchForm > button {
  white-space: nowrap;
  padding: 0 15px;
  border: none; /*input自带border*/
  background: #090723;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
}
.globalMain {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.siteList {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
@media (min-width: 500px) {
  .siteList {
    margin-right: -15px;
    margin-left: 0;
  }
}

.siteList > li {
  margin-bottom: 10px;
  margin-right: 15px;
}
.siteList .site {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 18px 0;
  cursor: pointer;
}
.siteList .site .logo {
  width: 60px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  /* text-transform: uppercase;  全大写*/
}

.siteList .site .link {
  font-size: 12px;
  margin-top: 2px;
}
.siteList .site .close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}
.siteList .site:hover .close {
  display: block;
}
.siteList .addButton {
  width: 146px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 18px 0;
}
.siteList .addButton .icon {
  width: 56px;
  height: 566px;
}
.siteList .addButton .iconWrapper {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
